body{
  color: map-get($map: $c_text, $key:primary_dark );
  font-family: map-get($map: $font_family, $key: ch);
  font-size: $fz_lg;
};
.wrap{
  margin: 0 auto;
  max-width: 425px;
  @include pad{
    max-width: 980px
  };
  @include laptop{
    max-width: 1280px;
  };
};
.header{
  padding: 26.05px 38px 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include pad{
    padding: 26.05px 125px 21.38px;
  };
  .logo{
    width: 88.61px;
    @include pad{
      width: 130.75px;
    };
  };
  a{
    color: map-get($map: $c_text, $key:primary_dark );
    line-height: 26px;
  };
};
.footer{
  @include row-center;
  font-size: $fz_sm;
  line-height: 17px;
  padding: 156px 0 10px 0;
  @include pad{
    padding-top: 295px;
  };
};

.bg_color1{
  background: map-get($c_bg,color1);
};
.bg_color2{
  background: map-get($c_text,primary_light);
};
.in_block{
  display: none;
  @include laptop{
    display: block;
  };
};
.row-center{
  @include row-center;
};